BaseModal {
    align: center middle;
}

#modal-container {
    width: auto;
    height: auto;
    align: center middle;
    background: $panel;
    border: round $accent;
    padding: 2 4;
}

#modal-title {
    text-align: center;
    text-style: bold;
    color: $accent;
    margin-bottom: 2;
}

#close {
    margin-top: 1;
}

PasswordHintsModal {
    #modal-body {
        text-style: italic;
    }

}

ConfirmationModal {
    #buttons-container {
        layout: vertical;
        width: auto;
        height: auto;
        align: center middle;
    }
}

DeleteAccountModal {
    #modal-container {
        border: round $error;
        layout: vertical; 

        #delete-icon {
            width: 100%;
            height: 3;
            text-align: center;
            content-align: center middle;
            color: white;
            margin: 0 0 2 0;
            background: $error;
            text-style: bold;
        }

        #modal-title {
            color: $error;
            text-align: center;
        }

        .field {
            width: 100%;
            height: auto;
            margin: 1 0;

            .field-label {
                margin-bottom: 1;
            }
        }

        #buttons-container {
            layout: vertical;
            width: auto;
            height: auto;
            align: center middle;
            margin-top: 2;
        }
    }
}

CreateCourtModal {
    align: center middle;

    #modal-container {
        border: round $accent;
        layout: vertical;
        width: 60%;
        min-width: 40;
        max-width: 80;
        height: auto;
        max-height: 90%;
        overflow-y: auto;
        margin: 2;

        #court-icon {
            width: 100%;
            height: 3;
            text-align: center;
            content-align: center middle;
            color: white;
            margin: 0 0 2 0;
            background: $accent;
            text-style: bold;
        }

        #modal-title {
            color: $accent;
            text-align: center;
        }

        .field {
            width: 100%;
            height: auto;
            margin: 1 0;

            .field-label {
                margin-bottom: 1;
            }
        }

        #court-facility {
            width: 100%;
            height: auto;
        }

        #buttons-container {
            layout: vertical;
            width: 100%;
            height: auto;
            align: center middle;
            margin-top: 2;

            Button {
                margin-bottom: 1;
                width: 100%;
            }
        }
    }

    &.small #modal-container {
        width: 100%;
        min-width: 0;
        max-width: 100%;
        margin: 0;
        border: none;
        max-height: 100%;
    }

    &.small #court-icon {
        height: 2;
        margin: 0 0 1 0;
    }

    &.small .field {
        margin: 0;
    }

    &.small #buttons-container {
        margin-top: 1;
    }
}